rag-agents-.json
{
  "createdAt": "2025-06-09T14:22:48.507Z",
  "updatedAt": "2025-06-10T08:48:48.000Z",
  "id": "r7mAjNjTvOn0ZJF1",
  "name": "RAG Agents",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "id": "dd384cfa-e22f-4bcb-a155-4626db73e395",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1040,
        500
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.query.query }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "id": "4aa9f409-c6df-49e8-886c-a73bab473579",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        760
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZm3Ut95ASdr3vpx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "ce066f81-4708-4f19-85b8-2dc1580093c9",
      "name": "Get File Content",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        500,
        760
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZm3Ut95ASdr3vpx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {}
      },
      "id": "a8a924a1-9f3d-4acd-8daf-a05da3d87126",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1040,
        980
      ]
    },
    {
      "parameters": {},
      "id": "e3467cb9-5ec9-469a-b21a-ad0b0a442e79",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1040,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "4df950e5-d237-43a5-a810-8b705bf73af4",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        760
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add_doc_to_vector_db",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "239c2564-836f-402f-81bd-bdb5eca4ed82",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        760
      ],
      "webhookId": "8ea31a69-552f-445a-9584-47b869da88fd",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8tg38T0n27NX644p",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "name": "add_file_to_vector_db",
        "description": "Use this to search for a file in Google Drive, download it, and add it to the vector DB knowledgebase for future querying.",
        "workflowId": "G3tpfwkkTTdqDqv5",
        "responsePropertyName": "metadata",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"query\": \"Meeting notes from last week\"\n}"
      },
      "id": "638dcea8-914a-4f56-8b60-9a002ddeebe6",
      "name": "Add Google Drive File to Vector DB",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1400,
        600
      ]
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "d2a86c7e-7061-427e-9527-dffd8a3dc345",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1600,
        600
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "6d0a429b-52c3-4deb-97da-7bf4be0716d6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 661.3783861449286,
        "width": 1290.2441524753906,
        "color": 5
      },
      "id": "12d9c34a-c41c-4c31-a236-e135d896b3df",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        680
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 692.7866482806627
      },
      "id": "4af594d0-7299-4bd4-98a6-9969333cd6f5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."
        }
      },
      "id": "d6ff6f70-971a-406f-9a99-f7eb70ccee04",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        280
      ]
    },
    {
      "parameters": {
        "memoryKey": "user_documents"
      },
      "id": "c67e1622-7f29-4dc8-b742-33d9f3b095ad",
      "name": "In-Memory Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [
        1420,
        740
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "=user_documents"
      },
      "id": "43d5f869-6d35-42ba-b333-e349a0cadbb3",
      "name": "In-Memory Vector Store Inserter",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [
        960,
        760
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e1abe407-baa2-454a-ac9f-ce4c1a1f8ea3",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        680,
        280
      ],
      "webhookId": "057f6fe7-e865-42b6-9020-8cc759271eb9"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        860,
        500
      ],
      "id": "b79e1929-6015-46c2-85fa-149795e2c1c9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vQQJ0ZtAmsJJh3AG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-06-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1800,
        780
      ],
      "id": "fa40019d-65f5-4432-a892-b5e3bec0a4ce",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "vQQJ0ZtAmsJJh3AG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1480,
        860
      ],
      "id": "0e83bc2d-f574-49b9-b616-e268aa6cde3c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "vQQJ0ZtAmsJJh3AG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        960
      ],
      "id": "4edbe1c1-baba-4a43-9f11-175b3dd82519",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "vQQJ0ZtAmsJJh3AG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "https://www.youtube.com/watch?v=Xifzdn7zW3A&t=606s"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        460
      ],
      "id": "ca50a011-35c3-4020-89ca-81b64034f74a",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "In-Memory Vector Store Inserter",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "In-Memory Vector Store Inserter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Google Drive File to Vector DB": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "In-Memory Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "In-Memory Vector Store Inserter",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "276db0aa-1975-4e7f-8123-2d71aa2c5382",
  "triggerCount": 0,
  "tags": []
}