视频生成-.json
{
  "createdAt": "2025-06-10T13:13:18.034Z",
  "updatedAt": "2025-06-10T13:13:18.034Z",
  "id": "DdUy7MgY9UThJiHj",
  "name": "视频生成",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id_repo_audio"
            },
            {
              "name": "id_repo_script"
            }
          ]
        }
      },
      "id": "553d2b1a-33c3-48f0-810d-1833f4de45f2",
      "name": "Start: External Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "2134d2bc-01b4-4382-8881-64239ba2b671",
      "name": "Start: Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -100,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "id_repo_audio",
              "type": "string",
              "value": "1wrnIskVWQJRAvKs04bhXavgDv2FokabG"
            },
            {
              "name": "id_repo_script",
              "type": "string",
              "value": "12tIJJuO_DfwJbtOuO72mpk2_3s9O4xZc"
            }
          ]
        },
        "options": {}
      },
      "id": "2a5646a7-6eb4-46e6-ad77-90b5c98af323",
      "name": "Test Values",
      "type": "n8n-nodes-base.set",
      "position": [
        120,
        360
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id_repo_audio"
            },
            {
              "fieldToAggregate": "id_repo_script"
            }
          ]
        },
        "options": {}
      },
      "id": "068904ed-6835-4842-afc3-23617d181550",
      "name": "Aggregate Inputs",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        260,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Aggregate Inputs').item.json.id_repo_script[0] }}"
          }
        },
        "options": {}
      },
      "id": "cad9d0ff-9252-4391-bcb1-224fef646e40",
      "name": "Get Scripts",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        520,
        0
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZm3Ut95ASdr3vpx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a0fd103f-19c7-489f-a5d0-73640f246834",
      "name": "Loop Scripts",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        840,
        0
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "ac6bf022-ec5c-4283-8c14-5c38768844bb",
      "name": "Download Script",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1200,
        20
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZm3Ut95ASdr3vpx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/script.txt",
        "dataPropertyName": "=data",
        "options": {}
      },
      "id": "c3e9c7a0-038a-46ea-a665-36016ed219d9",
      "name": "Save Script",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1480,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "=/opt/venv/bin/python /scripts/generate_voice.py /tmp/script.txt /tmp/output_{{ $json.name.replace(/\\.txt$/, '') }}.wav"
      },
      "id": "e66637ab-c6fb-4953-9853-f6d3a13da9e4",
      "name": "Generate WAV",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        1700,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileSelector": "=/tmp/output_{{ $('Loop Scripts').item.json.name.replace(/\\.txt$/, '.wav') }}",
        "options": {}
      },
      "id": "88457664-56f9-4daf-93fc-c61a258c9bfe",
      "name": "Read Audio",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1920,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Aggregate Inputs').item.json.id_repo_audio[0] }}"
        },
        "options": {}
      },
      "id": "029d6205-6aa8-4e4e-8309-63360f044d2a",
      "name": "Upload Audio",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2140,
        20
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZm3Ut95ASdr3vpx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Audio Generation Workflow\n\n1. This workflow automates the conversion of text scripts into audio files using a Python voice synthesis script.\n2. It retrieves scripts from Google Drive, generates audio with Bark-style narration, and reuploads the result.\n3. Script filenames must be .txt. Only clean plain text is supported.\n\n### Inputs:\n- id_repo_script: Google Drive folder with scripts\n- id_repo_audio: Google Drive folder to upload audio files\n\nMake sure the Python script is deployed at /scripts/generate_voice.py and has access to Bark or other required models.",
        "height": 400,
        "width": 600
      },
      "id": "2cf871aa-09c7-47be-bb81-38ec3dbab807",
      "name": "📝 Workflow Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        180
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Read Audio": {
      "main": [
        [
          {
            "node": "Upload Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scripts": {
      "main": [
        [
          {
            "node": "Loop Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Script": {
      "main": [
        [
          {
            "node": "Generate WAV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Values": {
      "main": [
        [
          {
            "node": "Aggregate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate WAV": {
      "main": [
        [
          {
            "node": "Read Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Scripts": {
      "main": [
        [],
        [
          {
            "node": "Download Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio": {
      "main": [
        [
          {
            "node": "Loop Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Script": {
      "main": [
        [
          {
            "node": "Save Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Inputs": {
      "main": [
        [
          {
            "node": "Get Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: Manual Test": {
      "main": [
        [
          {
            "node": "Test Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start: External Trigger": {
      "main": [
        [
          {
            "node": "Aggregate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5e6e8fa4-1b06-40ae-a83d-6ba43e7c9795",
  "triggerCount": 0,
  "tags": []
}